.wrap {
  min-height: 230px;
  height: 230px;
  width: 170px;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 1px 3px 0 #d4d4d5;
  border: 1px solid #d4d4d5;
  border-radius: 6px;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  &:hover {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-3px);
    z-index: 10;
    height: auto;
  }
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.price {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
}

.descr {
  color: rgba(0, 0, 0, 0.63);
  font-size: 14px;
  overflow-wrap: break-word;
}

.doubleBtnWrap {
  display: flex;
  margin: 5px 0 10px 0;
}
.leftBtn {
  margin-right: 5px;
  width: 100%;
}

