.list {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 8px));
  grid-gap: 10px;
  margin-bottom: 20px;
}

.item {
  position: relative;
  min-height: 230px;
  height: 230px;
}

.loading {
  border-radius: 6px;
  background-color: #f6f6f6;
  height: 470px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(3, calc(33.3% - 8px));
  }
}

@media (max-width: 767px) {
  .list {
    grid-template-columns: repeat(1, 100%);
  }
}
